<template>
    <div class="home">
        <Header :userName="userName"/>
        <main id="main">
            <header class="currentRoom">{{ currentRoom }}</header>
            <section id="messages">
                <Message v-for="(msg, idx) in messages" :user-name="userName" :message="msg" :key="idx"></Message>
            </section>
            <section id="input">
                <textarea v-model="msg" @keydown.enter.prevent="sendMessage" placeholder="请输入消息"></textarea>
                <button @click="sendMessage">发送</button>
            </section>
        </main>
        <aside class="right">
            <p class="roomTitle" @click="listRoom">房间列表</p>
            <button class="createRoom" @click="createRoom">新建</button>
            <section>
                <article class="rooms">
                    <p v-for="(room, idx) in rooms" :key="idx">
                        <span @click="roomUser(idx)" v-if="room.arrow">▼</span>
                        <span @click="roomUser(idx)" v-if="!room.arrow">►</span>
                        <span style="margin-left: .5rem" @click="enterRoom(idx)">{{ room.name }}</span>
                        <span v-for="(user, idx) in room.users" :key="idx" v-show="room.arrow" class="roomUser">{{ user }}</span>
                    </p>
                </article>
            </section>
        </aside>
        <footer class="foot">Copyright © 2020 dlcq. All Rights Reserved.</footer>
    </div>
</template>

<script>
    // @ is an alias to /src
    import Header from "@/components/Header.vue";
    import Message from "../components/Message";

    export default {
        name: "Home",
        data() {
            return {
                ws: {},
                messages: [],
                msg: '',
                userName: '',
                currentRoom: '',
                rooms: []
            }
        },
        components: {
            Header,
            Message
        },
        created() {
            let userName = sessionStorage.getItem('auth');
            if (!userName) {
                this.$router.push({name: "Login"});
                return;
            }
            this.userName = userName;

            this.listRoom();
        },
        mounted() {
            this.ws = new WebSocket(process.env.VUE_APP_ws, encodeURIComponent(this.userName));
            this.ws.onmessage = this.onMessage;
            this.ws.onerror = this.onError;
            this.ws.onclose = this.onClose;
        },
        methods: {
            onMessage(e) {
                this.messages.push(JSON.parse(e.data));
                if (this.messages.length > 100) { // 最多保留100条聊天记录
                    this.messages.shift();
                }
                this.$nextTick(() => {
                    let ele = document.getElementById("messages");
                    ele.scrollTop = ele.scrollHeight;
                }); // 滑动滚动条到底部
            },
            sendMessage() {
                if (this.msg.length === 0) {
                    return;
                }
                this.ws.send(JSON.stringify({
                    T: 0, // 7: ECHO, 0: TEXT
                    Body: this.msg,
                }));
                this.msg = '';
            },
            onClose(e) {
                console.log('断开连接', e);
                sessionStorage.clear();
                this.$router.push({name: 'Login'}).catch(() => {
                });// 断开连接重新登录
            },
            onError(e) {
                console.log('错误', e);
            },
            createRoom() {
                const roomName = prompt("请输入房间名");
                if (roomName.length === 0 || roomName.length > 10) {
                    return;
                }
                const roomPassword = prompt("请输入房间密码");
                if (roomPassword.length > 10) {
                    return;
                }
                this.$api.createRoom({
                    room_name: roomName,
                    room_pwd: roomPassword
                }).then(() => {
                    this.rooms.push({
                        name: roomName,
                        locked: roomPassword.length > 0,
                        arrow: false,
                        users: []
                    })

                    // 变更当前房间
                    this.currentRoom = roomName;
                }).catch(error => {
                    console.log(error)
                })
            },
            listRoom() {
                this.$api.listRoom().then(result => {
                    this.rooms.splice(0); // 清空原数据
                    let rooms = result.data;
                    rooms.forEach(v => {
                        this.rooms.push({
                            name: v.name,
                            locked: v.locked,
                            arrow: false,
                            users: []
                        })
                    })
                }).catch(error => {
                    console.log(error)
                })
            },
            roomUser(idx) {
                if (this.rooms[idx].arrow) {
                    this.rooms[idx].arrow = false;
                    return;
                }

                this.$api.listRoomUser({
                    room_name: this.rooms[idx].name
                }).then(result => {
                    let users = result.data;
                    this.rooms[idx].users.splice(0); // 清空原数据
                    users.forEach(v => {
                        this.rooms[idx].users.push(v);
                    })
                }).catch(error => {
                    console.log(error)
                });
                this.rooms[idx].arrow = true;
            },
            enterRoom(idx) {
                const roomName = this.rooms[idx].name; // 防止调用成功后，数组发生变化
                let roomPwd = '';
                if (this.rooms[idx].locked) {
                    roomPwd = prompt("请输入房间密码");
                }
                this.$api.enterRoom({
                    room_name: roomName,
                    room_pwd: roomPwd
                }).then(() => {
                    this.currentRoom = roomName;
                }).catch(error => {
                    console.log(error);
                })
            }
        },
        destroyed() {
            if (this.ws) {
                this.ws.close();
            }
        }
    };
</script>
<style lang="less" scoped>
    #main {
        float: left;
        width: 80rem;
        display: inline-block;
        padding-left: 5rem;

        .currentRoom {
            padding-bottom: .5rem;
            font-weight: bold;
            border-bottom: gray solid;
        }

        #messages {
            height: 50rem;
            /*border-right: gray solid;*/
            overflow: scroll;
        }

        #messages::-webkit-scrollbar {
            width: 4px;
        }

        #messages::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            background: rgba(0, 0, 0, 0.2);
        }

        #input {
            position: relative;

            textarea {
                float: left;
                display: inline-block;
                width: 75rem;
                height: 3rem;
                resize: none;
            }

            button {
                width: 4rem;
                height: 3.3rem;
            }
        }
    }

    .right {
        .roomTitle {
            font-weight: bold;
            cursor: pointer;
        }

        .createRoom {
            height: 1.3rem;
            width: 25rem;
            font-size: .1em;
        }

        section {
            .rooms {
                float: left;
                margin-left: 5rem;
                color: cornflowerblue;
                cursor: pointer;
                overflow: scroll;
                height: 50rem;
                width: 25rem;
                text-align: left;

                .roomUser {
                    display: block;
                    margin-left: 1.5rem;
                    margin-top: .5rem;
                }
            }

            .rooms::-webkit-scrollbar {
                width: 4px;
            }

            .rooms::-webkit-scrollbar-thumb {
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
                background: rgba(0, 0, 0, 0.2);
            }
        }
    }

    .foot {
        position: fixed;
        bottom: 0;
        right: 2rem;
    }
</style>
