<template>
    <header class="header">
        <section>
            <p>{{ userName }}</p>
            <p @click="logout">登出</p>
        </section>
    </header>
</template>

<script>
    export default {
        name: "Header",
        props: {
            userName: String
        },
        methods: {
            // 登出
            logout() {
                sessionStorage.clear();
                this.$router.push({name: 'Login'});
            }
        }
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
.header {
    z-index: 100;
    min-width: 80px;
    position: fixed;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .7);
    height: 50px;
    left: 0;
    right: 0;
    top: 0;
    background: #ffffff;

    section {
        float: right;
        p {
            display: inline-block;
            margin-right: 1rem;
        }
    }
}
</style>
