<template>
    <article class="message">
        <p class="name" v-if="userName != message.user">{{message.user}}：</p>
        <p :class="[userName==message.user?'right':'left']">{{ message.body }}</p>
    </article>
</template>

<script>
    export default {
        name: "Message",
        props: {
            userName: String,
            message: {
                t: Number,
                body: String,
                user: String,
                room: String
            }
        }
    }
</script>

<style lang="less" scoped>
    .message {
        text-align: left;
        margin-bottom: 1rem;
        *zoom: 1;

        .name {
            padding-left: .8rem;
            color: gray;
            margin-bottom: 0;
        }

        .left {
            margin-left: 1.2rem;
            text-align: left;
            background: lightgray;
            border-radius: .2rem;
            max-width: 50rem;
            overflow-wrap: break-word;
            padding-left: .3rem;
            padding-right: .3rem;
            letter-spacing: .1rem;
            margin-top: 0;
            width: fit-content;
        }

        .right {
            margin-right: 1.2rem;
            float: right;
            text-align: right;
            background: lightgray;
            border-radius: .2rem;
            max-width: 50rem;
            overflow-wrap: break-word;
            padding-left: .3rem;
            padding-right: .3rem;
            letter-spacing: .1rem;
            margin-top: 0;
            width: fit-content;
        }
    }

    // 闭合浮动
    .message:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
    }
</style>
